{% extends 'base.html' %}

{% block content %}
  <a style ="position: relative; left: 1200px; top: 20px;" class="btn btn-primary" role="button" href="{{ url_for('profile.logout') }}">Log out</a>
  <a style ="position: relative; top: 20px;" class="btn btn-primary" role="button" href="{{ url_for('professor.page') }}">Back to Profile</a>
    <form action="/professor/lecture" method="get">
      <div class="text-center">
        <h1>Orario: {{lecture.date}}</h1>
        <h1>Aula: {{lecture.classroom}}</h1>
      </div>
      {% if 'online' not in lecture.mode %}
        <div style="position: relative; left: 30px;">
          <h6 class="card-subtitle mb-2 text-muted">Studenti partecipanti alla lezione</h6>
          {%for i in students%}
            <h6 class="card-subtitle mb-2 text-muted">{{i.first_name}} {{i.last_name}}</h6>
          {%endfor%}
        </div>
      {% endif %}
    </form>
    <div class="text-center">
  </div>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock %}