{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="my-5">Aggiungi lezione</h1>
        <form action="/new_lecture" method="POST">
            <div class="my-3">
                <label for="time" class="form-label">Orario</label>
                <input type="time" class="form-control" id="time" name="time" required>
            </div>
            <div class="my-3">
                <label for="day" class="form-label">Data</label>
                <input type="date" class="form-control" id="day" name="day" required>
            </div>
            <div class="my-3">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Seleziona l'aula
                    </button>
                    <ul class="dropdown-menu">
                        {%for i in classroom%}
                            {%if i.available %}
                                <li><button class="dropdown-item" type="button">{{i.name}}</button></li>
                            {%endif%}
                        {%endfor%}
                    </ul>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Crea nuova lezione</button>
        </form>
    </div>       
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock %}