{% extends 'base.html' %}

{% block content %}
    <form action="/professor" method="get">
        {%for i in courses%}
            <div class="mt-5 container">
              <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{i.subtitle}}</h6>
                    <p class="card-text">{{i.description}}</p>
                    <a href="#" class="card-link">Calendario lezioni</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>           
        {%endfor%}
    </form>
    <div class="text-center">
      <p>Inserisci nuovo corso <a class="btn btn-primary" role="button" href="{{ url_for('create_course') }}">Clicca qui</a></p>
    </div> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  {% endblock %}
