{% extends 'base.html' %}

{% block content %}
<div class="text-center">
  <p>Cerca altri corsi <a class="btn btn-primary" role="button" href="{{ url_for('student.other_courses') }}">Vai ai corsi</a></p>
</div>
    <form action="/student/" method="get">
      {{ user.first_name }}
      {{ user.last_name }}
      {% if courses %}
        {%for i in courses%}
              
        <h1>Ciao</h1>
        <div class="mt-5 container">
                <div class="card mx-auto" style="width: 18rem;">
                  <div class="card-body">
                      <h5 class="card-title">{{i.name}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{i.subtitle}}</h6>
                      <p class="card-text">{{i.description}}</p>
                      <div class="text-center">
                        <p>Calendario lezioni <a class="btn btn-primary" role="button" href="{{ url_for('student.course') }}">Vai al Corso</a></p>
                      </div>
                  </div>
                </div>
              </div>            
        {%endfor%}
      {% endif %}
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  {% endblock %}